<% unless notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart_title"><h1>Your Cart</h1></div>

<table id="items_in_cart">
  <tr>
    <th class="title">Title</th>
    <th class="quantity">Quantity</th>
    <th class="price">Subtotal</th>
    <th class="link_for_edit"></th>
    <th class="link_for_destroy"></th>
  </tr>

  <% @line_items.each do |item| %>
  <tr class="item_entry">
    <td class="title"><%= item.product.title %></td>
    <td class="quantity"><%= item.quantity || 'N/A' %></td>
    <td class="price">
      <%= item.quantity.nil? ? 'N/A' : number_to_currency(item.total_price) %></td>
    <td class="link_for_edit"><%= link_to 'Edit', edit_cart_line_item_path(@cart, item) %></td>
    <td class="link_for_destroy"><%= link_to 'Destroy', cart_line_item_path(@cart, item),
                                     :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<br />

<%= link_to 'Continue Shopping', store_path %>

<br />
<br />

<%= button_to 'Empty cart', @cart, :method => :delete, :confirm =>
'Are you sure?' %>
