<div id="product_list">
  <h1>Listing products</h1>

  <table>
    <% @products.each do |product| %>
    <% # cycle () によって、アイテムを交互に得る %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <% # イメージタグ %>
        <%= image_tag(product.image_url, :class => 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt class="title"><%= product.title %></dt>
          <dd class="description"><%= truncate(strip_tags(product.description), :length => 80) %></dd>
          <% # truncate() は指定した長さに行を削る %>
          <% # strip_tags() は HTML タグを取り除く %>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', product %><br />
        <% # 上記の行は product_path(product) でも同じ結果となる %>
        <%= link_to 'Edit', edit_product_path(product) %><br />
        <%= link_to 'Destroy', product,
            :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<br />

<%= link_to 'New Product', new_product_path %>
